/*header */
@import url('https://fonts.googleapis.com/css?family=Galindo');

.header {
    padding: 20px 12px 0;
    background: #2a2b33;
    border-bottom: 2px solid #5c5f72;
}
.header h2 {
    font-family: 'Galindo', cursive;
    letter-spacing: 4px;
    font-size: 28px;
    font-weight: bold;
    color: #50909b;
    text-align: center;
    text-shadow: 2px 2px 1px #fff;
}
label {
    margin: 4px 4%;
    font-size: 14px;
    font-weight: bold;
}
select {
    display: block;
}
select, input {
    margin: 6px 16px;
    padding: 4px;
    width: 90%;
    height: 35px;
}
.search-submit {
    display: block;
    width: 90%;
    margin: 16px auto 0;
    font-weight: bold;
}
.nav-button {
    position: relative;
    top: 12px;
}
.search-wrapper {
    padding: 20px;
    background: #50909b;
}
.search-block {
    padding: 12px;
    border-bottom: 1px solid #fff;
}
.search-thumb {
    width: 120px;
    height: 120px;
}
h5 {
    font-size: 16px;
}
.home-wrapper {
    background: #c1c1C1;
    padding: 12px;
}
.artist-block {
    height: 600px;
    background: #535a66;
    color: #fff;
    text-align: center;
}
.img-wrapp {
    display: block;
    width: 92%;
    max-height: 150px;    
    margin: 20px auto;
    overflow: hidden;
}
.artist-img {
    display: block;
    width: inherit;
    margin: 0 auto;
}